$dark-background: #282828;
$darker-background: #1f1f1f;
$dark-background-text-color: #ffffff;

$light-background: #dddddd;
$lighter-background: #edecec;
$light-background-text-color: #333333;

$theme-background: #e74c3c;
$theme-darker-background: #c0392b;
$theme-text-color: #ffffff;

$font-family: 'Lato', Arial, sans-serif;
$font-color: #333333;

$block-padding: 10px;
$section-padding: 35px;